.sorter {
    display: flex;
    margin:0;
    padding:0;
}

th {
    cursor: pointer;
    /* min-width: auto; */
}

tr {
    text-align: left;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
}