/*
    width: 10%;
cartul

    display:flex;
    display:flex;
    padding: 1%;
    margin: 1%;
    padding: 1%;
    background-color: red;
    padding: 5%;
    margin: 15%;
    text-align: right;
    background-image: url(../../node_modules/bootstrap-icons/icons/person-circle.svg) url(../assets/logo.svg);
    border: 0.13em groove #eee;
*/
.imgbackup{
    background-image: url(../assets/person-circle.svg);
    background-repeat: no-repeat ;
    background-size: 33% auto;
    background-position: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin-top: .5rem;
}
.imgcarry {
    text-align: center;
}
.profile section{
    display: flex;
    margin: 0.1%;
    padding: 0.1%;
}
.profile p {
    display: flex;
    margin: 0.2;
    padding: 0.1%;
}
.profile div {
    display: flex;
    width: 50%;
    margin: 0.1%;
}

.listitem div{
    display: flex;
}

.cartitem li div{
    align-items: center;
    width: 100%;
    padding-left: 0.1%;
    margin: 0.1%;
}
.cart ul {
    list-style: none;
    margin:1%;
    padding:1%;
}
.cart div {
    margin:0.1%;
    padding:0.1%;
}

.cartitem li{
}
.cartitem div{
}
