.form {
    text-align: left;
  }

  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #0883d4;
    border: 3px solid #063b8a;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  .form button:hover,
  .form button:active {
    background-color: #063b8a;
    border-color: #0883d4;
  }
  