
  .imgcarry img {
    width: 100%;
    height: 25%;
  }

  .imgcarry {
    text-align: center;
  }
  .imgbackup{
    background-image: url(../../assets/person-circle.svg);
    background-repeat: no-repeat ;
    background-size: 33% auto;
    background-position: center;
    text-align: center;
    width: 50%;
    height: auto;
    margin-top: .5rem;
  }